In [0]:
import tensorflow as tf

from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam
from keras.callbacks import EarlyStopping

import pandas as pd
import numpy as np

import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

from matplotlib import pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [0]:
# Import input (x) and output (y) data, and asign these to df1 and df1

df1 = pd.read_csv(??)
df2 = pd.read_csv(??)

In [0]:
result = pd.concat([df1,df2],axis=1,sort=False)

In [0]:
find the share of the result object

(3364, 4)

In [0]:
df1=result[['Dislikes','Likes','Subscribers']]
df2=result['Views']

In [0]:
result.head()

    Likes  Dislikes  Subscribers    Views
0  104460      3365      7300000  1988888
1  103203      3570      3300000  2617005
2   22485       612      1800000   932230
3   23077      1337       465000  1165800
4   12315       522     11000000   551165

In [0]:
# Split the data into input (x) training and testing data, and ouput (y) training and testing data, 
# with training data being 80% of the data, and testing data being the remaining 20% of the data

X_train, X_test, y_train, y_test = ???

In [0]:
X_test.head()

      Dislikes  Likes  Subscribers
130          2     48       754000
1140       532   8433       176000
429          0      0            0
563        118   6793      3400000
1358       798   9526       373000

In [0]:
# Scale both training and testing input data
X_train = ???
X_test = ???

# Example with 500 epochs

In [0]:
# Defines "deep" model and its structure using Adam optimizer and mean_squared_error
model = Sequential()
model.add(Dense(13, input_shape=(3,), activation='relu'))
????
????
????
model.add(Dense(1,))
model.compile(???, 'mean_squared_error')

# Runs model for 500 iterations and assigns this to 'history'
history = model.fit(X_train, y_train, epochs = 500, validation_split = 0.2, verbose = 0)

In [0]:
# Plots 'history'
history_dict=history.history
loss_values = history_dict['loss']
val_loss_values=history_dict['val_loss']
plt.plot(loss_values,'bo',label='training loss')
plt.plot(val_loss_values,'r',label='training loss val')

# Example with early stopping function

In [0]:

# Pass several parameters to 'EarlyStopping' function and assigns it to 'earlystopper'
earlystopper = EarlyStopping(monitor='val_loss', min_delta=0, patience=15, verbose=1, mode='auto')

# Fits model over 2000 iterations with 'earlystopper' callback, and assigns it to history
history = model.fit(X_train, y_train, epochs = 2000, validation_split = 0.2,shuffle = True, verbose = 0, 
                    callbacks = [earlystopper])

In [0]:
# Plots 'history'
history_dict=history.history
loss_values = history_dict['loss']
val_loss_values=history_dict['val_loss']
plt.plot(loss_values,'bo',label='training loss')
plt.plot(val_loss_values,'r',label='training loss val')

In [0]:
# Runs model with its current weights on the training and testing data
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculates and prints r2 score of training and testing data
print("The R2 score on the Train set is:\t{:0.3f}".format(r2_score(y_train, y_train_pred)))
print("The R2 score on the Test set is:\t{:0.3f}".format(r2_score(y_test, y_test_pred)))